spring:
  application:
    name: coupon

  datasource:
    url: jdbc:mysql://localhost:3309/coupon?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: coupon_user
    password: coupon1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    open-in-view: false
server:
  port: 8080
